{% extends 'app/base.html' %}

{% block title %}
    <title>Feria Online OMG - Ver Productos</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="../static/css/stats.css">
{% endblock %}

{% block content %}
    <div class="content">
        <h1> Estadísticas de pedidos y productos </h1>
        <div class="stats-container">
            <div class="chart-container">
                <figure class="highcharts-figure">
                    <div id="barchart-container-1">
                        <div id="barchart-1"></div>
                    </div>
                </figure>
            </div>
            <div class="chart-container">
                <figure>
                    <div id="barchart-container-2">
                        <div id="barchart-2"></div>
                    </div>
                </figure>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="../static/js/stats.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}
