{% extends 'app/base.html' %}

{% block css %} 
    <link rel="stylesheet" href="../static/css/forms.css">
    <link rel="stylesheet" href="../static/css/modal.css">
{% endblock %}

{% block title %}
    <title>Feria Online OMG - Agregar Pedido</title>
{% endblock %}

{% block content %}

    <div class="content">
        
        <h1> Agregar Pedido </h1>
        <p> Aquí podrás agregar un pedido a la Feria OMG </p>
        <div>
            <form class="formulario" id="agregar-pedido">
                <div id="tipo-producto" class="grupo-input">
                    <label for="tipo-prod">Tipo de producto:</label>
                    <select name="tipo-producto" id="tipo-prod">
                        <option value="none">Seleccione una opción</option>
                        <option value="fruta">Fruta</option>
                        <option value="verdura">Verdura</option>
                    </select>
                </div>
                <div id="Producto" class="grupo-input">
                    <div>
                        <label for="producto-select">Producto(s):</label>
                    </div>
                    <select name="Producto" id="producto-select" multiple></select>
                </div>
                <div id="Descripcion" class="grupo-input">
                    <div>
                        <label for="des">Descripción:</label>
                    </div>
                    <textarea name="Descripcion" id="des" cols="50" rows="4"></textarea>
                </div>
                <div id="Regiones" class="grupo-input">
                    <label for="region-select">Regiones:</label>
                    <select name="Regiones" id="region-select">
                        <option value="none">Seleccione una opción</option>
                    </select>
                </div>
                <div id="Comunas" class="grupo-input">
                    <label for="comuna-select">Comunas:</label>
                    <select name="Comunas" id="comuna-select">
                        <option value="none">Seleccione una Región primero</option>
                    </select>
                </div>
                <div id="Nombre-Comprador" class="grupo-input">
                    <label for="nombre-comp">Nombre del Comprador:</label>
                    <input type="text" id="nombre-comp" name="Nombre-Comprador" size="80">
                </div>
                <div id="email-Comprador" class="grupo-input">
                    <label for="email-comp">Email del Comprador:</label>
                    <input type="email" id="email-comp" name="email-Comprador" size="30">
                </div>
                <div id="telefono-Comprador" class="grupo-input">
                    <label for="telefono-comp">Telefono del Comprador:</label>
                    <input type="tel" id="telefono-comp" name="telefono-Comprador" size="15">
                </div>
            </form>
            <div id="confirmModal" class="modal">
                <div class="modal-content">
                    <p id="mensajeConfirmacion"></p>
                    <button class="modalButton" id="confirmYes">Sí, confirmo</button>
                    <button class="modalButton" id="confirmNo">No, quiero volver al formulario</button>
                </div>
            </div>
            <div id="errorAlert" class="alert error hidden"></div>
            <div id="successAlert" class="alert success hidden"></div>
            <button class="button" id="agregar">Agregar Pedido</button>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="../static/js/agregar-pedido.js"></script>
    <script src="../static/js/validadores.js"></script>
{% endblock %}
