{% extends 'app/base.html' %}

{% block css %} 
    <link rel="stylesheet" href="../static/css/info.css">
{% endblock %}

{% block title %}
    <title>Feria Online OMG - Informacion del Pedido</title>
{% endblock %}

{% block content %}

    <div class="content">
        <h1> Informacion del Pedido </h1>
        <p> Tipo: <span id="tipoPedido"></span></p>
        <p> Producto(s): <span id="productosPedido"></span></p>
        <p> Descripcion: <span id="descripcionPedido"></span></p>
        <p> Region: <span id="regionPedido"></span></p>
        <p> Comuna: <span id="comunaPedido"></span></p>
        <p> Comprador: <span id="compradorPedido"></span></p>
        <p> Email del Comprador: <span id="emailPedido"></span></p>
        <p> Telefono del Comprador: <span id="telefonoPedido"></span></p>
    </div>

{% endblock %}

{% block javascript %}
    <script src="../static/js/informacion-pedido.js"></script>
{% endblock %}